$sideNavbar-width: 250px; // You can adjust this value
$background-color: #f2f2f2;
.navbar_main {
  margin-left: $sideNavbar-width;
  padding: 7px;
  width: calc(100% - #{$sideNavbar-width});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box_1 {
      margin-left: 15px;
      @media (max-width: 480px) {
        margin-left: 30px;
      }
    }

    .box_2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 15px;

      .profile_image_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        .profile_image {
          border: solid 1px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }

        .user_tab_navbar_element_box {
          display: inline-block;
          opacity: 1;
          background-color: #fdfdfd;
          position: absolute;
          width: 171px;
          right: 0px;
          border: solid 1px #c4c2c2;
          border-radius: 10px;
          display: none;
          top: 42px;
          overflow: hidden;

          .user_tab_navbar_element {
            font-size: 0.8rem !important;
            text-align: left;
            box-shadow: 0px 1px 4px rgba(231, 228, 228, 0.1);
            display: flex;
            align-items: center;
            .href {
              // border: solid 1px;
              width: 100%;

              span {
                padding: 12px 15px !important;
                cursor: pointer;
                width: 100%;
                &:hover {
                  background-color: #d9d8d8;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-left: 200px; // Adjust main content margin for smaller screens
    width: calc(100% - 200px);
  }

  @media (max-width: 576px) {
    margin-left: 150px; // Further adjust main content margin for extra small screens
    width: calc(100% - 150px);
  }

  @media (max-width: 480px) {
    margin-left: 0;
    width: 100%;
  }
}
